
@{
    ViewBag.Title = "Qr";
    Layout = "~/Views/_LayoutPage.cshtml";

}
@model IEnumerable<myblogNew.Controllers.BlogController.QrModel>
<a  class="btn btn-primary" href="@Url.Action("QrAdd","Blog")">Product Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Desc</th>
            <th scope="col">Stock</th>
            <th scope="col">Qr</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row"><a href="@Url.Action("QrDetail", "Blog", new { id = item.Id })">@item.Id</a></th>
                <td>@item.Title</td>
                <td>@item.Desc</td>
                <td>@item.Stock</td>
                <td><img src="~/Blog/@item.QrCode" width="100" height="100" /> </td>
            </tr>
        }
        </tbody>
</table>



