
@{
    ViewBag.Title = "QrDetail";
    Layout = "~/Views/_LayoutPage.cshtml";
}
@model myblogNew.Controllers.BlogController.QrModel
<h2>QrDetail</h2>
<h1>@Model.Id.ToString()</h1>
<h1>@Model.Title.ToString()</h1>
<h1>@Model.Desc.ToString()</h1>
<h1>@Model.Stock.ToString()</h1>
<h1>@Model.QrCode.ToString()</h1>

