<!DOCTYPE html>
<html lang="tr">
<head>
 <link rel="manifest" href="~/Content/js/manifest.json">
    <!-- ios support -->
    <link rel="apple-touch-icon" href="~/Content/images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" href="~/Content/images/icons/icon-96x96.png">
    <link rel="apple-touch-icon" href="~/Content/images/icons/icon-128x128.png">
    <link rel="apple-touch-icon" href="~/Content/images/icons/icon-144x144.png">
    <link rel="apple-touch-icon" href="~/Content/images/icons/icon-152x152.png">
    <link rel="apple-touch-icon" href="~/Content/images/icons/icon-192x192.png">
    <link rel="apple-touch-icon" href="~/Content/images/icons/icon-384x384.png">
    <link rel="apple-touch-icon" href="~/Content/images/icons/icon-512x512.png">
    <meta name="apple-mobile-web-app-status-bar" content="#db4938">
    <meta name="theme-color" content="#db4938">
  <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/0de6a391b61227c47709c4bc6/a37ede9e01c8821540598070b.js");</script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40622672-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-40622672-1');
  </script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5f354f68b7f44f406e94975f/1fgm3cblf';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  @{
    @Html.Action("Header", "Blog");
  }
  <title>@Html.Action("Title", "Blog") - @ViewBag.Title</title>
  <link rel="shortcut icon" href="~/Content/img/favicon.ico">
  <link href="~/Content/vendor/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
  <link href="~/Content/vendor/fontawesome-free/css/solid.css" rel="stylesheet" />
  <link href="~/Content/vendor/fontawesome-free/css/brands.css" rel="stylesheet" />
</head>
<body>
    @*<header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="~/Blog/Index">Tarık</a></h1>
            @{
                @Html.Action("Menu", "Blog");
            }

            </div>
        </header>*@
            <!-- Main Content -->
            @RenderBody()
            
            @{
                @Html.Action("Footer", "Blog");
            }

            <!-- Bootstrap core JavaScript -->
            <!--<script src="~/Content/vendor/jquery/jquery.min.js"></script>
            <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
            <!-- Custom scripts for this template -->
            <!--<script src="~/Content/js/clean-blog.min.js"></script>-->



            <div id="preloader"></div>
            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

            <!-- Vendor JS Files -->
            <script src="~/Content/assets/vendor/purecounter/purecounter.js"></script>
            <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
            <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
            <script src="~/Content/assets/vendor/typed.js/typed.min.js"></script>
            @*<script src="~/Content/assets/vendor/php-email-form/validate.js"></script>*@

            <!-- Template Main JS File -->
            <script src="~/Content/assets/js/main.js"></script>
                <script src="~/Content/js/app.js"></script>

</body>
</html>
